.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px;
}

.btn-action {
  background-color: transparent;
  float: right;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

